.update-wrapper {
    display: flex;
    justify-content: center;
}

.update-container {
    width: clamp(28rem, 65%, 60rem);
    height: 40rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.update-header {
    height: 5rem;
    background-color: #36454F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.update-header h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: clamp(1.5rem, 1.75vw, 1.8rem);
    color: #ffffff;
    margin: 0;
}

.update-header p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: clamp(.6rem, .9vw, .9rem);
    color: #ffffff;
    margin: 0;
}

.update-content {
    display: flex;
    flex: 1;
}

.update-left {
    width: 25%;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    text-align: left;
    box-sizing: border-box;
    padding-top: 1.75rem;
}

.update-left-option {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500; 
    font-size: clamp(10px, 1.75vw, 1.1rem);
    color: #36454F;
    line-height: 1.2; 
    display: flex;            
    align-items: center;      
    margin-bottom: 1rem;
    padding-left: 15%;
}

.update-left-option img {
    width: clamp(10px, 1.75vw, 18px);
    height: clamp(10px, 1.75vw, 18px);
    margin-right: .7rem;
}


.update-right {
    flex: 1;
    background-color: #ffffff;
    display: flex;
    text-align: left;
    padding-left: 2.5rem;
}

.update-right-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; 
    font-size: clamp(10px, 1.75vw, 1.1rem);
    color: #36454F;
    margin-top: 1.75rem;
}

.update-inputs-container {
    display: flex;
    align-items: flex-start; 
    margin-top: .75rem;
}

.update-input-group {
    display: flex;
    flex-direction: column;
    margin-right: 1rem; 
}

.update-input-label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: clamp(.6rem, .85vw, .85rem);
    color: #36454F;
    margin-bottom: .3rem;
}

.change-field {
    width: clamp(13rem, 15vw, 15rem);
    height: 2rem;
    border-radius: 4px;
    border: 1px solid #ccc; 
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(.6rem, .85vw, .85rem);
    box-shadow: 0 0 0 0.01em #d7d7d7 inset, 
                0 0 0.2rem rgba(0, 0, 0, 0.2); 
    transition: border-color 0.3s ease;
    box-sizing: border-box; 
    padding-left: .5rem;
    margin-bottom: 1rem;
}

.update-button {
    background-color: #36454F;
    border: none;
    color: #f7f7f7;
    width: clamp(13rem, 15vw, 15rem);
    height: 2.25rem;
    font-size: clamp(.6rem, .85vw, .85rem);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.3s;
    margin-top: .25rem;
}

.update-button:hover {
    background-color: #242E34;
}

.error-message {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: clamp(.7rem, .9vw, .8rem);
    color: #C53E3E;
    margin-top: 1rem;
}

.success-message {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: clamp(.7rem, .9vw, .8rem);
    color: #628B73;
    margin-top: 1rem;
}

.change-password-feedback {
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; 
    font-size: clamp(.5rem, .6vw, .6rem);
    color: #36454F;
    line-height: 1;
    margin-top: -.4rem;
    margin-bottom: .5rem;
}

.change-valid {
    color: #628B73;
}

.change-invalid {
    color: #a66166;
}