@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&family=Montserrat:wght@600&display=swap');

.home-container {
    width: 100%;
    height: 80vh;
    min-height: 625px;
    background-image: url('./images/bg.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    position: relative; 
}

.content-container {
    position: absolute;
    top: 27.5%;
    left: 50%;
    transform: translateX(-50%); 
    text-align: center; 
    padding-left: 2%;
    padding-right: 2%;
    /* border: 1px solid black; */
}

@media (max-height: 850px) {
    .content-container {
        top: 25%;
    }
}

.text-container {
    width: 800px;
    max-width: 90vw;
    /* border: 1px solid black; */
}

.header-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; 
    font-size: 2.65rem; 
    color: #242E34;
    line-height: 1.2; 
    margin-bottom: 1.75rem;
    /* margin-left: 3rem;
    margin-right: 3rem; */
}

.subheader-text {
    font-family: 'Nunito', sans-serif;
    font-weight: 400; 
    font-size: 1.05rem; 
    color: #242E34;
    line-height: 1.3; 
    margin-bottom: 4rem;
    margin-left: 3%;
    margin-right: 3%;
}

.search-container {
    position: relative; 
    width: fit-content; 
    margin: 0 auto; 
}

.search-bar {
    width: 500px; 
    height: 75px; 
    max-width: 70vw;
    padding: 0.5rem 1.5rem; 
    padding-left: 87px; 
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 50px; 
    font-family: 'Montserrat', sans-serif; 
    font-weight: 500;
    color: #36454F;
    font-size: 1rem; 
    background-color: white; 
    background-image: url('./images/search.png'); 
    background-repeat: no-repeat;
    background-position: 40px center; 
    background-size: 20px 20px; 
    
}

.search-bar::placeholder {
    font-family: 'Montserrat', sans-serif; 
    font-size: 1rem; 
}

.search-bar:focus {
    outline: none; 
}

.search-bar.no-shadow {
    box-shadow: none; 
}

.dropdown-container {
    position: relative; 
}

.white-space {
    background-color: #ffffff; 
    position: absolute; 
    width: 99.8%; 
    margin: -3rem 0 0 0;
    z-index: -1;
    padding: 3.5rem 0 0 0;
    border-left: 1px solid #ccc; 
    border-right: 1px solid #ccc; 
    
}

.dropdown {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 250px;
    overflow-y: auto;
    border-left: 1px solid #ccc; 
    border-right: 1px solid #ccc; 
    border-bottom: 1px solid #ccc; 
    background-color: #ffffff;
}
  
.dropdown-item {
    padding: 0.75rem; 
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
  
.dropdown-item:hover {
    background-color: #f0f0f0;
}

.university-name {
    font-size: 1rem; 
    font-weight: 600; 
    color: #36454F; 
    font-family: 'Montserrat', sans-serif; 
}

.university-location {
    font-size: 0.8rem; 
    font-weight: 400; 
    color: #777; 
    margin-top: 0.2rem; 
    font-family: 'Montserrat', sans-serif; 
}

.home-popup-message {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight: 400; 
    font-size: .9rem;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 8px;
    z-index: 1000;
    animation: fadeInOut 6s forwards;
    width: 60%;
    margin-left: 19%;
    margin-top: 3rem;
}
