body {
    background-color: #f7f7f7; 
}

.form-page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    width: clamp(28rem, 65%, 53rem);
    background-color: #f7f7f7; 
}

.form-header {
    width: 100%;
    height: 6rem;
    background-color: #36454F;
    margin-top: 4rem;
    border-top-left-radius: .4rem; 
    border-top-right-radius: .4rem; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.form-header-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; 
    font-size: 1.8rem;
    color: #ffffff;
    line-height: 1.5; 
    margin: 0; 
}

.form-header-subtext {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; 
    font-size: .8rem;
    color: #ffffff;
    line-height: 1.2; 
    margin: 0; 
}

.form-body {
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    box-sizing: border-box; 
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin: -.5rem 2rem; 
    
}

.form-body .form-row:first-child {
    margin-top: 1rem; 
}


.form-body .form-row:last-child {
    margin-bottom: 2rem; 
}

.input-container {
    flex: 1; 
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    align-items: flex-start; 
    
}

.input-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: #242E34;
    margin-bottom: 0.2rem;
    text-align: left; 
}

.input-subheader {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
    color: #242E34;
    margin-bottom: 0.5rem;
    text-align: left; 
    width: 100%; 
    box-sizing: border-box; 
}

.form-input {
    width: 100%; 
    padding: 0.8rem;
    border-radius: 0.4rem;
    border: 1px solid #ccc; 
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    box-shadow: 0 0 0 0.01em #d7d7d7 inset, 
                0 0 0.2rem rgba(0, 0, 0, 0.2); 
    transition: border-color 0.3s ease;
    box-sizing: border-box; 
}

.form-input::placeholder {
    color: #99A5AD; 
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem; 
    font-weight: 400; 
}

.form-input:focus {
    border-color: #36454F; 
    outline: none;
}

.rating-container {
    display: flex;
    gap: 0.15rem; 
    flex-wrap: wrap;
}

.rating-box {
    width: 2rem; 
    height: 2.7rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #ffffff; 
    font-family: 'Montserrat', sans-serif;
    font-size: .9rem;
    font-weight: 600;
    background-color: #DFDFDF;
    color: #36454F; 
    box-shadow: 0 0 0 0.05em #d7d7d7 inset, 0 0 0.1rem rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease, color 0.3s ease;
}

.enjoyment-rating-box {
    width: 2rem; 
    height: 2.7rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #ffffff; 
    font-family: 'Montserrat', sans-serif;
    font-size: .9rem;
    font-weight: 600;
    background-color: #DFDFDF;
    color: #36454F; 
    box-shadow: 0 0 0 0.05em #d7d7d7 inset, 0 0 0.1rem rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease, color 0.3s ease;
}

.rating-box.selected {
    background-color: #36454F; 
    color: #ffffff; 
}

.enjoyment-rating-box.selected {
    background-color: #36454F; 
    color: #ffffff; 
}

/* Make it so the user can see the color correlated to the rating they are giving each field on hover */

.rating-container .rating-box:nth-child(1):hover { background-color: #628B73; }
.rating-container .rating-box:nth-child(2):hover { background-color: #628B73; }
.rating-container .rating-box:nth-child(3):hover { background-color: #93cdab; }
.rating-container .rating-box:nth-child(4):hover { background-color: #93cdab; }
.rating-container .rating-box:nth-child(5):hover { background-color: #9A9A9A; }
.rating-container .rating-box:nth-child(6):hover { background-color: #9A9A9A; }
.rating-container .rating-box:nth-child(7):hover { background-color: #A89092; }
.rating-container .rating-box:nth-child(8):hover { background-color: #A89092; }
.rating-container .rating-box:nth-child(9):hover { background-color: #81686a; }
.rating-container .rating-box:nth-child(10):hover { background-color: #81686a; }

.rating-container .enjoyment-rating-box:nth-child(1):hover { background-color: #81686a; }
.rating-container .enjoyment-rating-box:nth-child(2):hover { background-color: #81686a; }
.rating-container .enjoyment-rating-box:nth-child(3):hover { background-color: #A89092; }
.rating-container .enjoyment-rating-box:nth-child(4):hover { background-color: #A89092; }
.rating-container .enjoyment-rating-box:nth-child(5):hover { background-color: #9A9A9A; }
.rating-container .enjoyment-rating-box:nth-child(6):hover { background-color: #9A9A9A; }
.rating-container .enjoyment-rating-box:nth-child(7):hover { background-color: #93cdab; }
.rating-container .enjoyment-rating-box:nth-child(8):hover { background-color: #93cdab; }
.rating-container .enjoyment-rating-box:nth-child(9):hover { background-color: #628B73; }
.rating-container .enjoyment-rating-box:nth-child(10):hover { background-color: #628B73; }

.rating-container .rating-box:nth-child(1) { border-top-left-radius: 8px; border-bottom-left-radius: 8px;}
.rating-container .rating-box:nth-child(10) { border-top-right-radius: 8px; border-bottom-right-radius: 8px;}
.rating-container .enjoyment-rating-box:nth-child(1) { border-top-left-radius: 8px; border-bottom-left-radius: 8px;}
.rating-container .enjoyment-rating-box:nth-child(10) { border-top-right-radius: 8px; border-bottom-right-radius: 8px;}

.rating-box.selected:hover {
    background-color: #36454F; 
}

.recommendation-input {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.recommendation-input .input-header {
    align-self: flex-start; 
}

.recommendation-input .input-subheader {
    align-self: flex-start; 
}

.recommendation-options {
    display: flex;
    gap: 2rem; 
}

.recommendation-option {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.recommendation-option input[type="radio"] {
    display: none; 
}

.circle {
    width: 2.8rem; 
    height: 2.8rem; 
    border-radius: 50%; 
    border: 1px solid #DFDFDF;
    background-color: #ffffff; 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 0.05em #d7d7d7 inset, 0 0 0.1rem rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease;
}

input[type="radio"]:checked + .circle {
    background-color: #36454F; 
}

.circle:hover {
    background-color: #DFDFDF; 
}

.recommendation-text {
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    font-weight: 500;
    color: #36454F;
    margin-top: 0.2rem;
    text-align: center;
}

.full-review-row {
    margin-top: -1rem; 
}

.full-review-container {
    flex: 1; 
}

.form-textarea {
    width: 100%; 
    height: 10rem; 
    padding: 1rem;
    border-radius: 0.4rem;
    border: 1px solid #ccc; 
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    box-shadow: 0 0 0 0.01em #d7d7d7 inset, 0 0 0.2rem rgba(0, 0, 0, 0.2); 
    resize: vertical; 
    box-sizing: border-box; 
}

.form-textarea::placeholder {
    color: #99A5AD; 
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
}

.form-textarea:focus {
    border-color: #36454F; 
    outline: none;
}

.tags-container {
    flex: 1; 
}

.tags-selection {
    display: flex;
    flex-wrap: wrap; 
    gap: 0.2rem; 
}

.form-footer {
    width: 100%;
    background-color: #36454F;
    margin-bottom: 4rem;
    border-bottom-left-radius: .4rem; 
    border-bottom-right-radius: .4rem; 
    justify-content: center; 
    align-items: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form-button {
    margin-top: 2rem;
    background-color: #ffffff; 
    color: white; 
    border: none; 
    width: 225px; 
    height: 48px; 
    border-radius: 25px; 
    cursor: pointer; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-button-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; 
    font-size: 14px;
    color: #36454F;
    line-height: 1.2; 
    display: flex;            
    align-items: center;      
    width: fit-content; 
    margin: 0 auto; 
}

.form-guidelines {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500; 
    font-size: clamp(8px, .7vw, 12px);
    color: #242E34;
    line-height: 1.1; 
    display: flex;            
    align-items: center;      
    margin-bottom: .5rem;
}

.form-guidelines img {
    width: 12px; 
    height: 12px; 
    margin-right: .25rem;
}

.review-error {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: clamp(.6rem, .9vw, .9rem);
    color: #C53E3E;
    margin-top: 1rem;
    margin-left: 3.5rem;
    padding-right: 2rem;
    margin-bottom: 1.5rem;
    text-align: left;
}

.form-footer-disclaimer-container {
    width: 80%;
    margin-left: 10%;
    margin-top: 1rem;
    padding-bottom: 1.5rem;
}

.form-disclaimer-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; 
    font-size: .6rem;
    color: #ffffff;
    line-height: 1.2; 
    margin: 0; 
}