.review {
    width:  clamp(29rem, 75vw, 52rem);
    background-color: #D3DDD7;
    border-radius: 7px;
}

.review-top {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    padding-top: .5rem;
}

.review-middle {
    width: 85%;
    margin-left: 7.5%;
    text-align: left;
    padding-top: .5rem;
    padding-bottom: 1.75rem;
}

.review-bottom {
    width: 95%;
    height: 45%;
    margin-left: 5%;
    display: flex;
    gap: 1rem;
    padding-bottom: 1.9rem;
}

.review-difficulty-box {
    width: 12.5%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-workload-box {
    width: 12.5%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-enjoyment-box {
    width: 12.5%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-course {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; 
    font-size: clamp(15px, 1.35vw, 20px);
    color: #242E34;
    line-height: 1; 
    display: flex;            
    align-items: center;      
    margin-left: 2rem;
    margin-top: 1rem;
}

.review-course img {
    width: 25px; 
    height: 25px; 
    margin-right: .5rem;
}

.review-top-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 450; 
    font-size: clamp(12px, 1.5vw, 17px);
    color: #242E34;
    margin-left: clamp(1rem, 4vw, 2rem);
    margin-top: 1rem;
    padding-right: 1rem;
}

.semi-bold {
    font-weight: 600;
}

.professor-name {
    font-size: clamp(12px, 1.5vw, 17px); 
}

.professor-name-small {
    font-size: clamp(10px, 1.5vw, 14px); 
}

.review-timestamp {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; 
    font-size: clamp(9px, .8vw, 14px);
    color: #242E34;
    margin-left: auto;
    margin-right: 2rem;
    margin-top: 1rem;
}

.review-review {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500; 
    font-size: clamp(12px, 1.25vw, 14px);
    color: #242E34;
    margin-top: .8rem;
    line-height: 1.45;
}

.review-box-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; 
    font-size: clamp(10px, .9vw, 15px);
    color: #242E34;
}

.review-box-score {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; 
    font-size: clamp(40px, 3vw, 50px);
    color: #242E34;
}

.score-out-of {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; 
    font-size: clamp(5px, 1.5vw, 10px);
    color: #242E34;
}

.review-score-green {
    width: 100%;
    height: 1.1rem;
    background-color: #628B73;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-score-gray {
    width: 100%;
    height: 1.1rem;
    background-color: #9A9A9A;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-score-red {
    width: 100%;
    height: 1.1rem;
    background-color: #A89092;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-score-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 650; 
    font-size: clamp(3.5px, 1.1vw, 9px);
    color: #242E34;
}

.review-tags-box {
    width: 48%;
    margin-left: 2.5%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-tags-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 0.4rem;
}

.flag-box {
    width: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1rem;
}

.flag-box img{
    width: clamp(15px, 2vw, 20px);
    height: clamp(15px, 2vw, 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}