.university-container {
    background-color: #f7f7f7; 
}

.university-banner {
    width: 100%;
    height: 120px; 
    background-image: url('./images/schoolbg-cropped.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    position: relative; 
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: inset 0 0 0 4px rgba(255, 255, 255, 0.5); 
}

.university-banner-text {
    line-height: 1.3;
}

.university-banner-htext {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; 
    font-size: clamp(15px, 4vw, 2rem);
    color: #242E34;
}

.university-banner-stext {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; 
    font-size: 1rem;
    color: #242E34;
}

.class-search-container {
    position: relative; 
    width: fit-content; 
    margin: 0 auto; 
    
    padding-top: 2rem;
    padding-bottom: 2.5rem;
}

.class-search-bar {
    width: 450px; 
    height: 75px; 
    max-width: 70vw;
    padding: 0.5rem 1.5rem; 
    padding-left: 87px; 
    border-radius: 50px; 
    border: none;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 500;
    color: #36454F;
    font-size: 1rem; 
    background-color: white; 
    background-image: url('./images/search.png'); 
    background-repeat: no-repeat;
    background-position: 40px center; 
    background-size: 20px 20px; 

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.class-search-bar:focus {
    outline: none; 
}

.class-search-bar::placeholder {
    font-family: 'Montserrat', sans-serif; 
    font-size: 1rem; 
}

.university-reviews-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500; 
    font-size: clamp(10px, 2vw, 17px);
    color: #36454F;
    line-height: 1.2; 
    display: flex;            
    align-items: center;      
    width: fit-content; 
    margin: 0 auto; 
}

.university-button-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.university-button-container-left {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
}

.university-button-container-right {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
}

.university-reviews-header img {
    height: 40px; 
    margin-right: .35rem;
}

.university-button {
    background-color: #36454F; 
    color: white; 
    border: none; 
    width: clamp(12rem, 20vw, 14rem);
    height: 48px; 
    border-radius: 25px; 
    cursor: pointer; 
    margin-top: 1rem;
    margin-right: .5rem;
    margin-left: .5rem;
    margin-bottom: 3rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s;
}

.university-button-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
    line-height: 1.2; 
    display: flex;            
    align-items: center;      
    width: fit-content; 
    margin: 0 auto; 
}

.university-button-text img {
    height: 15px; 
    width: 15px; 
    margin-right: 1rem;
}

.university-button:hover {
    background-color: #242E34;
}

.reviews-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.university-filter-dropdown {
    width: clamp(10rem, 16.5vw, 11.75rem);
    position: absolute;
    background-color: #ffffff;
    padding-top: 1.2rem;
    padding-bottom: 1.35rem;
    padding-right: 1rem;
    padding-left: 1.25rem;
    margin-top: 7.55rem;
    margin-left: .5rem;
    z-index: 1;
    text-align: left;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.university-filter-dropdown label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: .9rem;
    color: #36454F;
    margin-bottom: .5rem;
    display: block;
}

.university-filter-dropdown select {
    width: 10rem;
    padding: 5px;
    margin-top: .5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background-color: #f9f9f9;
    color: #36454F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.university-filter-dropdown select option {
    font-size: 0.8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #36454F;
    padding: 0.5rem;
}

.university-filter-dropdown select:hover {
    background-color: #f1f1f1;
}

.load-more-container {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}
  
.load-more-button {
    background-color: #36454F;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.load-more-button:hover {
    background-color: #242E34;
}

.load-more-button:active {
    background-color: #003f7f;
    transform: scale(0.98);
}

.university-no-reviews-container {
    align-items: center; 
    text-align: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto; 
}

.university-no-reviews-button-container {
    align-items: center; 
    text-align: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto; 
}

.university-no-reviews-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 550; 
    font-size: clamp(15px, 1.75vw, 1.8rem);
    color: #36454F;
    margin-top: 2rem;
}

.university-no-reviews-subheader {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; 
    font-size: clamp(13px, 1.25vw, 1.25rem);
    color: #36454F;
    margin-bottom: 2rem;
    margin-top: .5rem;
}

.university-no-reviews-container img {
    height: 4rem; 
    margin-top: 5rem;
}

.course-dropdown-container {
    position: absolute; 
    width: 100%; 
    z-index: 999;
    text-align: center;
}

.course-white-space {
    background-color: #ffffff; 
    position: absolute; 
    width: 99.74%; 
    margin: -2.25rem 0 0 0;
    z-index: 1;
    padding: 2.5rem 0 0 0;
    border-left: 1px solid #ccc; 
    border-right: 1px solid #ccc; 
    
}

.course-dropdown {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 150px;
    overflow-y: auto;
    border-left: 1px solid #ccc; 
    border-right: 1px solid #ccc; 
    border-bottom: 1px solid #ccc; 
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 

}

.course-dropdown-item:first-of-type {
    padding-top: 1rem;
}

.course-dropdown-item {
    padding: 0.75rem; 
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.course-dropdown-item:hover {
    background-color: #f0f0f0;
}

.course-dropdown-name {
    font-size: 1rem; 
    font-weight: 600; 
    color: #36454F; 
    font-family: 'Montserrat', sans-serif;
    display: flex;            
    align-items: center;      
    justify-content: center;
}

.course-dropdown-location {
    font-size: 0.8rem; 
    font-weight: 400; 
    color: #777; 
    margin-top: 0.2rem; 
    font-family: 'Montserrat', sans-serif; 
}

.course-dropdown-name img {
    width: 16px; 
    height: 16px; 
    margin-right: .3rem;
}

.popup-message {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    z-index: 1000;
    animation: fadeInOut 3s forwards;
  }
  
@keyframes fadeInOut {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}

.university-reviews-header-container {
    width: 85%;
    display: flex;
    margin-left: 7.5%;
    margin-bottom: 1rem;
}

.university-reviews-header-left {
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.university-reviews-header-left img {
    height: 40px; 
    margin-right: .35rem;
}

.university-reviews-header-right {
    width: 60%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500; 
    font-size: 15px;
    color: #36454F;
    text-align: left;
}