.about-container-m {
    background-color: #f7f7f7;
}

.about-banner-m {
    width: 100%;
    height: 250px;
    background-image: url('.././images/about-banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 4rem;
}

.about-banner-text-m {
    line-height: 1.3;
}

.about-banner-htext-m {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: clamp(30px, 4vw, 2.25rem);
    color: #242E34;
}

.about-info-container-m {
    width: 85%;
    margin-left: 7.5%;
    margin-top: 2rem;
}

.about-info-htext-m {
    font-family: 'Montserrat', sans-serif;
    font-weight: 550;
    font-size: clamp(24px, 4vw, 1.7rem);
    color: #242E34;
    margin-left: 5%;
    margin-right: 5%;
}

.about-info-htext-m img {
    height: 4rem;
    margin-bottom: 1rem;
}

.about-info-stext-m {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #242E34;
    line-height: 1.35;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.about-subbanner-m {
    width: 90%;
    margin-left: 5%;
    height: 125px;
    background-color: #D3DDD7;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 4rem;
    border-radius: 10px;
}

.about-search-container-m {
    position: relative;
    width: 100%;
    margin-bottom: 1.5rem;
}

.about-search-bar-m {
    width: 75%;
    height: 65px;
    padding: 0.5rem 1rem;
    padding-left: 70px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #36454F;
    font-size: 1rem;
    background-color: white;
    background-image: url('.././images/search.png');
    background-repeat: no-repeat;
    background-position: 35px center;
    background-size: 15px 15px;
}

.about-search-bar-m::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.about-search-bar-m:focus {
    outline: none;
}

.about-search-bar-m.no-shadow {
    box-shadow: none;
}

.about-image-container-m {
    width: 100%;
    display: flex;
    justify-content: center;
}

.catalog-image-m {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 0.75rem;
}

.bookmark-image-m {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 0.75rem;
}

.info-course-button-m {
    background-color: #36454F;
    color: white;
    border: none;
    width: clamp(12rem, 20vw, 14rem);
    height: 48px;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 1rem;
    margin-top: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    cursor: default;
}

.about-course-name-header-m {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: clamp(45px, 4vw, 4rem);
    color: #36454F;
    line-height: 1.2;
    align-items: center;
}

.about-course-name-header-m img {
    width: clamp(15px, 2vw, 24px);
    height: clamp(15px, 2vw, 24px);
    margin-left: .3rem;
}

.info-course-button-text-m {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
    line-height: 1.2;
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
}

.info-course-button-text-m img {
    height: 15px;
    width: 15px;
    margin-right: 1rem;
}

.quick-links-m {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.quick-links-m a {
    text-decoration: none;
    color: #007bff;
}

.about-info-stext-m a {
    text-decoration: none;
    color: #242E34;
    font-weight: bold;
}

.about-info-stext-m a:hover {
    text-decoration: underline;
}