.guidelines-m {
    width: 90%;
    margin-left: 5%;
    text-align: left;
    margin-top: 2rem;
}

.guidelines-text-m {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #242E34;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.guidelines-subheader-m {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #242E34;
    line-height: 1.3;
    margin-bottom: 2rem;
}

.guidelines-header-m {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #242E34;
    line-height: 1.2;
    margin-bottom: 1rem;
}