.university-container-m {
    background-color: #f7f7f7; 
}

.university-banner-m {
    width: 100%;
    height: 120px; 
    background-image: url('.././images/schoolbg-cropped.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    position: relative; 
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: inset 0 0 0 4px rgba(255, 255, 255, 0.5); 
}

.university-banner-text-m {
    line-height: 1.3;
}

.university-banner-htext-m {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; 
    font-size: 24px;
    color: #242E34;
}

.university-banner-stext-m {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; 
    font-size: 1rem;
    color: #242E34;
}

.class-search-container-m {
    position: relative; 
    width: fit-content; 
    margin: 0 auto; 
    margin-top: 1.75rem;
    margin-bottom: 2rem;
}

.class-search-bar-m {
    width: 250px; 
    height: 68px; 
    padding: 0.5rem 1rem; 
    padding-left: 75px; 
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 50px; 
    font-family: 'Montserrat', sans-serif; 
    font-weight: 500;
    color: #36454F;
    font-size: 1rem; 
    background-color: white; 
    background-image: url('.././images/search.png'); 
    background-repeat: no-repeat;
    background-position: 37px center; 
    background-size: 15px 15px; 
}

.class-search-bar-m:focus {
    outline: none; 
}

.class-search-bar-m::placeholder {
    font-family: 'Montserrat', sans-serif; 
    font-size: 1rem; 
}

.university-reviews-header-container-m {
    width: 85%;
    display: flex;
    margin-left: 7.5%;
    margin-bottom: 1rem;
}

.university-reviews-header-left-m {
    width: 40%;
}

.university-reviews-header-left-m img {
    width: 75%; 
    margin-right: .35rem;
}

.university-reviews-header-right-m {
    width: 60%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500; 
    font-size: 15px;
    color: #36454F;
    text-align: left;
}

.university-button-container-m {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin-left: 2.5%;
}

.university-button-container-left-m {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    justify-content: flex-end;
    align-items: center;
    padding-right: .4rem;
}

.university-button-container-right-m {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    justify-content: flex-start;
    align-items: center;
    padding-left: .4rem;
}

.university-reviews-header-m img {
    height: 40px; 
    margin-right: .35rem;
}

.university-button-m {
    background-color: #36454F; 
    color: white; 
    border: none; 
    width: 10.75rem;
    height: 47px; 
    border-radius: 25px; 
    cursor: pointer; 
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s;
}

.university-button-text-m {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: #ffffff;
    line-height: 1.2; 
    display: flex;            
    align-items: center;      
    width: fit-content; 
    margin: 0 auto; 
}

.university-button-text-m img {
    height: 15px; 
    width: 15px; 
    margin-right: 1rem;
}

.reviews-container-m {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.university-filter-dropdown-m {
    width: 8.5rem;
    position: absolute;
    background-color: #ffffff;
    padding-top: 1.2rem;
    padding-bottom: 1.35rem;
    padding-right: 1rem;
    padding-left: 1.25rem;
    margin-top: 7.55rem;
    z-index: 1;
    text-align: left;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.university-filter-dropdown-m label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: .8rem;
    color: #36454F;
    margin-bottom: .5rem;
    display: block;
}

.university-filter-dropdown-m select {
    width: 8rem;
    padding: 5px;
    margin-top: .5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.7rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background-color: #f9f9f9;
    color: #36454F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.university-filter-dropdown-m select option {
    font-size: 0.7rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #36454F;
    padding: 0.5rem;
}

.load-more-container-m {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}
  
.load-more-button-m {
    background-color: #36454F;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.load-more-button-m:active {
    background-color: #003f7f;
    transform: scale(0.98);
}

.university-no-reviews-container-m {
    align-items: center; 
    justify-content: center;
    width: clamp(30rem, 60vw, 53rem);
    margin: 0 auto; 
}

.university-no-reviews-header-m {
    font-family: 'Montserrat', sans-serif;
    font-weight: 550; 
    font-size: clamp(15px, 1.75vw, 1.8rem);
    color: #36454F;
    margin-top: 2rem;
}

.university-no-reviews-subheader-m {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; 
    font-size: clamp(12px, 1.25vw, 1.25rem);
    color: #36454F;
    margin-bottom: 2rem;
}

.university-no-reviews-container-m img {
    height: 4rem; 
    margin-top: 5rem;
}

.course-dropdown-container-m {
    position: absolute; 
    width: 100%; 
    z-index: 999; 
    text-align: center;
}

.course-white-space-m {
    background-color: #ffffff; 
    position: absolute; 
    width: 99.4%; 
    margin: -2.25rem 0 0 0;
    z-index: 1;
    padding: 2.5rem 0 0 0;
    border-left: 1px solid #ccc; 
    border-right: 1px solid #ccc; 
    
}

.course-dropdown-m {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 150px;
    overflow-y: auto;
    border-left: 1px solid #ccc; 
    border-right: 1px solid #ccc; 
    border-bottom: 1px solid #ccc; 
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 

}

.course-dropdown-item-m:first-of-type {
    padding-top: 1rem;
}

.course-dropdown-item-m {
    padding: 0.75rem; 
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.course-dropdown-name-m {
    font-size: 1rem; 
    font-weight: 600; 
    color: #36454F; 
    font-family: 'Montserrat', sans-serif;
    display: flex;            
    align-items: center;      
    justify-content: center;
}

.course-dropdown-location-m {
    font-size: 0.8rem; 
    font-weight: 400; 
    color: #777; 
    margin-top: 0.2rem; 
    font-family: 'Montserrat', sans-serif; 
}

.course-dropdown-name-m img {
    width: 16px; 
    height: 16px; 
    margin-right: .3rem;
}

.university-popup-message-m {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    z-index: 1000;
    animation: fadeInOut 3s forwards;
  }
  
@keyframes fadeInOut {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}

@media (max-width: 390px) {
    .university-button-m {
        width: 10rem;
    }
}